html, div {
  background-color: #324d93;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr.fixed input {
  caret-color: transparent;
}

tr.fixed input::-webkit-outer-spin-button,
tr.fixed input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background-color: transparent;
  border:  0;
  outline: none;
}

tr.fixed input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

tr.editable input {
  background-color: #DDDDDD;
  text-decoration: underline;
}